langchain
langchain_community
langchain_cohere
gpt4all
faiss-cpu
oci-cli
chromadb==0.6.3
joblib
#llama-cpp-python
markupsafe
sentence-transformers
pdf2image
langchain-core
langchain-text-splitters
chroma-hnswlib==0.7.6
ollama
